<?xml version="1.0" encoding="utf-8"?>
<PluginDescriptor>
	<JavaPlugin>
		<interfaceClass>org.bimserver.plugins.serializers.MessagingSerializerPlugin</interfaceClass>
		<implementationClass>org.bimserver.serializers.binarygeometry.BinaryGeometryMessagingSerializerPlugin</implementationClass>
		<name>BinaryGeometryMessagingSerializer</name>
		<description>BinaryGeometryMessagingSerializer</description>
	</JavaPlugin>
	<JavaPlugin>
		<interfaceClass>org.bimserver.plugins.serializers.MessagingStreamingSerializerPlugin</interfaceClass>
		<implementationClass>org.bimserver.serializers.binarygeometry.BinaryGeometryMessagingStreamingSerializerPlugin</implementationClass>
		<name>BinaryGeometryMessagingStreamingSerializer</name>
		<description>BinaryGeometryMessagingStreamingSerializer</description>
	</JavaPlugin>
</PluginDescriptor>